{% extends 'store/main.html' %}
{% load static %}

{% block content %}



<div class="row my-4">
	{% for product in products %}
	<div class="col-lg-4">
		

		{% if product.imageURL == '' %}
		<img class="thumbnail" src="{% static 'images/no-image.jpg' %}">
		{% else %}
		<img class="thumbnail" src="{{product.imageURL}}">
		{% endif %}

		<div class="box-element product">
			<h6><strong>{{product.name}} 
				{% if product.seller == null %}
				<button class="btn" style="background-color: blueviolet; color: black;" >by SeriousShopping</button>
				{% else %}
				<button class="btn btn-dark" style="border-radius: 30%;">{{product.seller.brand}}</button>
				{% endif %}
			</strong></h6>
			<hr>

			<button data-product="{{product.id}}" data-action="add"
				class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>

			<button class="btn btn-outline-success view-product" data-prod="{{product.id}}">View</button>
			<h4 style="display: inline-block; float: right"><strong>${{product.price}}</strong></h4>

		</div>
	</div>
	{% endfor %}
	<script type="text/javascript" src="{% static 'js/store.js' %}"></script>
</div>

{% endblock content %}